<style>

  body {
    text-align: center;
    background-color: black;
  }

  div {
    magin-top: 15px;
  }

  .image-section {
    display: flex;
    justify-content: center;
  }

  .section-style {
    margin-right: 25px;
    margin-left: 25px;
    background-color: white;
  }

  .red-text {
    color: red;
  }

  p {
    font-size: 16px;
    font-family: monospace;
  }

  .btn-primary {
    color: white;
    background-color: blue
  }

  body {
    text-align: center;
    background-color: blue;
  }
</style>
